@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

body{
  background-color: #fff;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.all{
  height: 100%;
}

.container {
  height: 100%;
  margin: 0 auto 0;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container a {
  text-decoration: none;
  color: #8492A6;
  margin-top:15px;
  font-size: 12px;
}

.logo{
  margin-top:10px;
  width: 150px;
}

.content{
  width: 100%;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .content input{
  max-width: 300px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  padding: 5px;
} */

.button{
}